<%= form_for(@fb_item) do |f| %>
  <% if @fb_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fb_item.errors.count, "error") %> prohibited this fb_item from being saved:</h2>

      <ul>
      <% @fb_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fb_id %><br>
    <%= f.text_field :fb_id %>
  </div>
  <div class="field">
    <%= f.label :likes_count %><br>
    <%= f.number_field :likes_count %>
  </div>
  <div class="field">
    <%= f.label :comments_count %><br>
    <%= f.number_field :comments_count %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :fb_time %><br>
    <%= f.datetime_select :fb_time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
