<%- model_class = FbItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div class="pull-right">
    <% if params[:items] == "posts" %>
      <%= link_to t('.switch_to_photo_view', :default => t("helpers.links.switch_to_photo_view")),
                      user_fb_items_path(:items => "photos"), :class => 'btn btn-default btn-xs' %>
    <% elsif params[:items] == "photos" %>
      <%= link_to t('.switch_to_posts_view', :default => t("helpers.links.switch_to_posts_view")),
                      user_fb_items_path(:items => "posts"), :class => 'btn btn-default btn-xs' %>
    <% end %>

    <%= link_to t('.refresh_data', :default => t("helpers.links.refresh_data")), user_refresh_data_path, :class => 'btn btn-default btn-xs' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:like_count) %></th>
      <th><%= model_class.human_attribute_name(:comment_count) %></th>
      <th><%= model_class.human_attribute_name(:fb_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @fb_items.each do |fb_item| %>
      <tr>
        <td><%= fb_item.id %></td>
        <td>
          <% if params[:items]=="photos" %>
            <img class = "fb-ico" src = "<%= fb_item.content %>">
          <% else %>
            <%= fb_item.content %>
          <% end %>
        </td>
        <td><%= fb_item.likes_count %></td>
        <td><%= fb_item.comments_count %></td>
        <td><%= fb_item.fb_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>