<%- model_class = FbItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <% if @fb_item.content.start_with?("""http") %>
    <dd><img src = "<%= @fb_item.content %>"/></dd>
  <% else %>
    <dd><%= @fb_item.content %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:fb_time) %>:</strong></dt>
  <dd><%= @fb_item.fb_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:likes_count)%></strong></dt>
  <dd><%= @fb_item.likes_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments_count)%></strong></dt>
  <dd><%= @fb_item.comments_count %></dd>
  
</dl> 
