<%- model_class = FbItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fb_id) %>:</strong></dt>
  <dd><%= @fb_item.fb_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @fb_item.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fb_time) %>:</strong></dt>
  <dd><%= @fb_item.fb_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @fb_item.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              fb_items_path, :class => 'btn btn-default'  %>
